
.ari,.crd {
	background: #97233f;
	color: white;
}
.ari button,.crd button{
	color: #97233f;
	background: : white;
}
.atl {
	background: #a71930;
	color: #a5acaf;
}
.atl button {
	color: #a71930;
	background: #a5acaf;
}
.bal,.rav {
	background: #241773;
	color:#9E7C0C;
}
.bal button,.rav button {
	color: #241773;
	background:#9E7C0C;
}
.buf {
	background: #C60C30;
	color: #fff;
}
.buf button {
	color: #C60C30;
	background: #fff;
}
.car {
	background: #0085ca;
	color: #BFC0BF;
}
.car button {
	color: #0085ca;
	background: #BFC0BF;
}
.chi {
	background: #0B162A;
	color: #C83803;
}
.chi button {
	color: #0B162A;
	background: #C83803;
}
.cin {
	background: #FB4F14;
	color: #fff;
}
.cin button {
	color: #FB4F14;
	background: #fff;
}
.cle {
	background: #311D00;
	color: #ff3c00;
}
.cle button {
	color: #311D00;
	background: #ff3c00;
}
.dal {
	background: #041e42;
	color: #869397;
}
.dal button {
	color: #041e42;
	background: #869397;
}
.den {
	background: #fb4f14;
	color: #024;
}
.den button {
	color: #fb4f14;
	background: #024;
}
.det {
	background: #0076b6;
	color: #B0B7BC;
}
.det button {
	color: #0076b6;
	background: #B0B7BC;
}
.gb,.gnb {
	background: #203731;
	color: #ffb612;
}
.gb button,.gnb button {
	color: #203731;
	background: #ffb612;
}
.hou,.htx {
	background: #A71930;
	color: #03202f;
	color: #fff;
}
.hou button,.htx button {
	color: #A71930;
	background: #03202f;
	background: #fff;
}
.ind,.clt {
	background: #002c5f;
	color:#A2AAAD;
}
.ind button,.clt button {
	color: #002c5f;
	background: #A2AAAD;
}
.jax {
	background: #006778;
	color: #D7A22A;
}
.jax button {
	color: #006778;
	background: #D7A22A;
}
.kan, .kc {
	background: #e31837;
	color: #fff;
}
.kan button, .kc button {
	color: #e31837;
	background: #fff;
}
.lac,.sdg {
	background: #002a5e;
	color: #ffc20e;
}
.lac button,.sdg button {
	color: #002a5e;
	background: #ffc20e;
}
.lar,.ram {
	background: #003594;
	color: #ffa300;
}
.lar button,.ram button {
	color: #003594;
	background: #ffa300;
}
.mia {
	background: #008e97;
	color: #fff;
}
.mia button {
	color: #008e97;
	background: #fff;
}
.min {
	background: #4f2683;
	color: #FFC62F;
}
.min button {
	color: #4f2683;
	background: #FFC62F;
}
.ne,.nwe {
	background: #002244;
	color: #b0b7bc;
}
.ne button,.nwe button {
	color: #002244;
	background: #b0b7bc;
}
.no,.nor {
	background: #d3bc8d;
	color: #101820;
}
.no button,.nor button {
	color: #d3bc8d;
	background: #101820;
}
.nyg {
	background: #0b2265;
	color: #a5acaf;
}
.nyg button{
	color: #0b2265;
	background: #a5acaf;
}
.nyj {
	background: #125740;
	color: #fff;
}
.nyj button {
	color: #125740;
	background: #fff;
}
.oak,.lv,.rai {
	background: #000;
	color: #a5acaf;
}
.oak button,.lv button,.rai button {
	color: #000;
	background: #a5acaf;
}
.phi {
	background: #004c54;
	color: #A5ACAF;
}
.phi button {
	color: #004c54;
	background: #A5ACAF;
}
.pit {
	background: #101820; 
	color: #FFB612;
}
.pit button {
	color: #101820;
	background: #FFB612;
}
.sf,.sfo {
	color: #a00;
	background: #B3995D;
}
.sf button,.sfo button {
	background: #a00;
	color: #B3995D;
}
.sea {
	background: #002244;
	color: #a5acaf;
}
.sea button {
	color: #002244;
	background: #a5acaf;
}
.tb,.tam {
	background: #d50a0a;
	color: #0a0a08;
}
.tb button,.tam button{
	color: #d50a0a;
	background: #0a0a08;
}
.ten,.oti {
	background: #4b92db;
	color:#fff;
}
.ten button,.oti button {
	color: #4b92db;
	background:#fff;
}
.wsh, .was {
	background: #773141;
	color: #FFB612;
}
.wsh button, .was button {
	color: #773141;
	background: #FFB612;
}